@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);


/*
background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	font-weight: 300;
}

html {
    min-height:100%;
}

body {
	font-family: "Source Sans Pro", sans-serif;
	color: white;
	font-weight: 300;

}

.wrapper {
	background: linear-gradient(to bottom right, #569ac7 0%, #3ce6dd 100%);

	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

}

.wrapper-submit {
	/* background: linear-gradient(to bottom right, #569ac7 0%, #3ce6dd 100%); */

	background: linear-gradient(to bottom right, #569ac7 0%, #3ce6dd 100%);
	

	margin:0;
    padding:0;
    width:100%;
    height:95em;
    min-height:100%;
}

.wrapper-view {
	/* background: linear-gradient(to bottom right, #569ac7 0%, #3ce6dd 100%); */

	background: linear-gradient(to bottom right, #569ac7 0%, #3ce6dd 100%);
	

	margin:0;
    padding:0;
    width:100%;
    height:135em;
    min-height:100%;
}

.container {
	max-width: 600px;
	margin: 0 auto;
	padding: 80px 0;
	height: 400px;
	text-align: center;
}

.welcome-header {
    font-size: 40px;
		transition-duration: 1s;
		transition-timing-function: ease-in-put;
		font-weight: 200;font-size: 40px;
		transition-duration: 1s;
		transition-timing-function: ease-in-put;
		font-weight: 200;
}

form {
	padding: 20px 0;
	position: relative;
	z-index: 2;
	}

.form-input {
    display: block;
	appearance: none;
	outline: 0;
	border: 1px solid fade(white, 40%);
	background-color: fade(white, 20%);
	width: 250px;

	border-radius: 3px;
	padding: 10px 15px;
	margin: 0 auto 10px auto;
	display: block;
	text-align: center;
	font-size: 18px;

	color: black;

	transition-duration: 0.25s;
	font-weight: 300;

}

.form-input:hover {
    background-color: fade(white, 40%);
}

.form-input:focus {
    background-color: white;
			width: 300px;

			color: black;
}

	button {
		appearance: none;
		outline: 0;
		background-color: white;
		border: 0;
		padding: 10px 15px;
		color: black;
		border-radius: 3px;
		width: 250px;
		cursor: pointer;
		font-size: 18px;
		transition-duration: 0.25s;

	}

button:hover {
    background-color: rgb(184, 240, 235);
}

.container-color {
    background-color: white;
    border-radius: 25px;
    position: relative;
    top: 8em;
	padding: 35px 35px;
}

.container-text {
    color: black;
}

.div-inline {
    display: inline;
}
.form-input-submit {
	appearance: none;
	outline: 0;
	border: 1px solid fade(white, 40%);
	background-color: fade(white, 20%);
	width: 250px;

	border-radius: 3px;
	padding: 10px 15px;
	margin: 0 auto 10px auto;
	text-align: center;
	font-size: 18px;

	color: black;

	display: inline;
	font-weight: 300;

}

.form-address {
	width: 100%;
}

#dropmenu-state {
	
}

#dropInput-state {
	display: inline;
}

.form-right {
	margin-left: 55px;
}

#submit-button {
	background-color: rgb(198, 231, 255);
}

#submit-button:hover {
    background-color: rgb(184, 240, 235);
}

.form-back-button {
	margin-left: 41.25em;
}
